<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnGrounds</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- typeof(style) != 'undefined' ? style : '' %>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <!-- <script src="/js/main.js"></script>
    <%- typeof(script) != 'undefined' ? script : '' %> -->
</body>
</html> 